---
originRequest:
  originServerName: "external.bbck.dev"
ingress:
  - hostname: "bbck.dev"
    service: https://external.networking.svc.cluster.local:443
  - hostname: "*.bbck.dev"
    service: https://external.networking.svc.cluster.local:443
  - service: http_status:404
