---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 1m
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    controllers:
      radarr:
        replicas: 1
        containers:
          radarr:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: "6.1.1.10317@sha256:5e08c0eefd2770d1d29395c4f84fe5bf7dfc3a986598021306a5d8ac017a3989"
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
            resources:
              limits:
                memory: 1024Mi
              requests:
                cpu: 100m
                memory: 256Mi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  periodSeconds: 5
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
    service:
      radarr:
        controller: radarr
        ports:
          http:
            port: 7878
    ingress:
      radarr:
        className: internal
        hosts:
          - host: radarr.bbck.dev
            paths:
              - path: /
                service:
                  identifier: radarr
                  port: http
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.bbck.dev
    persistence:
      config:
        existingClaim: radarr
      media:
        type: nfs
        server: 192.168.254.47
        path: /mnt/nas/media
        globalMounts:
          - path: /data/media
