---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    image:
      longhorn:
        manager:
          # https://github.com/longhorn/longhorn/issues/12573
          tag: v1.11.0-hotfix-1
        instanceManager:
          # https://github.com/longhorn/longhorn/issues/12573
          tag: v1.11.0-hotfix-1
    csi:
      attacherReplicaCount: &replicas 1
      provisionerReplicaCount: *replicas
      resizerReplicaCount: *replicas
      snapshotterReplicaCount: *replicas
    persistence:
      defaultClassReplicaCount: 3
      defaultDataLocality: best-effort
    defaultSettings:
      defaultDataLocality: best-effort
      concurrentAutomaticEngineUpgradePerNodeLimit: "1"
    httproute:
      enabled: true
      hostnames: ["longhorn.bbck.dev"]
      parentRefs:
        - name: envoy-internal
          namespace: networking
    metrics:
      serviceMonitor:
        enabled: true
