---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Diff"
on:
  pull_request:
    branches:
      - master
    paths:
      - "k8s/**"
jobs:
  diffs:
    name: Compute diffs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.7.3
      - uses: allenporter/flux-local/action/diff@8.0.1
        id: diff
        with:
          live-branch: master
          path: k8s
          resource: helmrelease
      - name: PR Comments
        uses: mshick/add-pr-comment@v2
        if: ${{ steps.diff.outputs.diff != '' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-failure: Unable to post diff
          message: |
            `````diff
            ${{ steps.diff.outputs.diff }}
            `````
